
#btSalvar{
    -fx-background-color:#8A2BE2;

}
#btSalvar:hover{
    -fx-background-color:#00BFFF;

}
#btPesquisar{
    -fx-background-color:#8A2BE2;

}
#btPesquisar:hover{
    -fx-background-color:#00BFFF;

}
#btAlterar{
    -fx-background-color:#8A2BE2;

}
#btAlterar:hover{
    -fx-background-color:#00BFFF;

}
#btRemover{
    -fx-background-color:#8A2BE2;

}
#btRemover:hover{
    -fx-background-color:#00BFFF;

}
#Buscar{
    -fx-background-color:#8A2BE2;

}
#Buscar:hover{
    -fx-background-color:#00BFFF;

}



